body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #6a994e;
    margin: 0 auto;
    width: 50%;
    color: #f2e8cf;
}

.recipe-container {
    display: flex;
}

.recipe-container div {
    background-color: #bc4749;
    border: 4px solid #bc4749;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 2px #386641;
    height: 100%;
    flex: 1;
    margin: 10px;
}